$title-text-color: #212121;
$text-color: #757575;
$accent-color: #2196f3;
$background-hero: #2f303a;
$background-section: #f5f5f5;
$background-team: #f5f4fa;
$black: #000000;
$shadow: rgba(0, 0, 0, 0.12);
$white: #ffffff;
$basement-link: rgba(255, 255, 255, 0.6);
$border-color: #eeeeee;
$button-hover: #188ce8;
$networks: #afb1b8;
$networks-back: #ffffff1a;
$portfolio-cords-modal: rgba(33, 150, 243, 0.9);
$modal-back: rgb(0 0 0 / 0.2);
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto:wght@400;500;700;900&display=swap");
