.this::after {
  content: "";
  width: 100%;
  height: 4px;
  background: $accent-color;
  border-radius: 2px;
  position: absolute;
  left: 0px;
  bottom: 0px;
  transform: translateY(32px);
}

.topline {
  background-color: $white;
  padding-top: 16px;
  padding-bottom: 16px;
  border-bottom: 1px solid $border-color;
  position: relative;
  display: flex;
  align-items: center;
  @media screen and (min-width: 768px) {
    padding-top: 21px;
    padding-bottom: 21px;
  }
  @media (min-width: 1200px) {
    padding-top: 25px;
    padding-bottom: 25px;
  }
  &__navigator {
    display: flex;
    align-items: center;
  }
}

.logo {
  .topline__navigator & {
    margin-right: 95px;
  }
}
.navigator-site {
  @extend %off-style;
  display: flex;
  @media screen and (max-width: 767px) {
    display: none;
  }
}
.topline__contakts {
  margin-left: auto;
  @extend %off-style;
  @media screen and (max-width: 767px) {
    display: none;
  }
  @media (min-width: 1200px) {
    display: flex;
  }
}
.navigator-site__page {
  color: $title-text-color;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: $accent-color;
  }
}
.navigator-site__list {
  position: relative;
  .navigator-site & + & {
    margin-left: 50px;
  }
}
.contakts-list__link {
  color: $text-color;
  fill: currentColor;
  text-decoration: none;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  display: flex;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  @media (min-width: 1200px) {
    justify-content: center;
    font-size: 14px;
  }
  &:hover,
  &:focus {
    color: $accent-color;
  }
}
.contakts-list__icon {
  display: inline-block;
  margin-right: 10px;
}
.contakts-list {
  &:not(:last-child) {
    margin-bottom: 10px;
    @media (min-width: 1200px) {
      margin-bottom: 0px;
      margin-right: 40px;
    }
  }
}
.contakts-list__menu {
  position: absolute;
  right: 15px;
  top: 15px;
  &:hover {
    fill: $accent-color;
  }
  @media screen and (min-width: 768px) {
    display: none;
  }
}
