.our-work {
  @media screen and (max-width: 1199px) {
    display: none;
  }
  @extend %section;
  padding-top: 0px;
  &__header {
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    margin-top: 0px;
    margin-bottom: 50px;
  }
}
.work-list {
  display: flex;
  @extend %off-style;
  &__imege:not(:last-child) {
    margin-right: 30px;
  }
  &__imege {
    position: relative;
  }
  &__title-text {
    position: absolute;
    display: block;
    width: 100%;
    bottom: 0px;
    margin: 0px;
    padding-top: 27px;
    padding-bottom: 27px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    color: $white;
    background-color: rgba(47, 48, 58, 0.8);
  }
}
